= form_for ([@todo,@todo.tasks.build]) do |f|


  .field
    = f.label :name
    = f.select(:name,Chapter.all.collect{|d| d.name+"."+Study.find_by_id(d.study_id).book+"."+Study.find_by_id(d.study_id).subject})
  .actions
    = f.submit 'Save'
