%h1 Listing currentaffairs

%table.table
  %thead
    %tr
      %th Name
      %th source
      %th Edit
      %th Delete

  %tbody
    - @currentaffairs.each do |currentaffair|
      %tr
        %td= link_to currentaffair.name.to_date,currentaffair
        %td= currentaffair.source
        %td= link_to 'Edit', edit_currentaffair_path(currentaffair)
        %td= link_to 'Destroy', currentaffair, method: :delete, data: { confirm: 'Are you sure?' }

%br


