.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h4 New Study
      .panel-body
        = render 'form', study: @study
      .panel-footer
        = link_to 'Back', studies_path,class: 'btn btn-info'
  .col-md-3
