.row
  .col-md-9
    .panel.panel-primary
      .panel-heading
        %h1 New todo
      .panel-body
        = render 'form'
      .panel-footer
        = link_to 'Back', todos_path,class: 'btn btn-primary'
