.row
  .col-md-9
    .panel.panel-primary
      .panel-heading
        %h1 New todo
      .panel-body
        = render 'form'
      .panel-footer
        = link_to todos_path,class: 'btn btn-primary' do
          %span.glyphicon.glyphicon-arrow-left
          back
