/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
$dark: #455A64;
$light: #607D8B;
$few: #FDD835;
body{
  font-family: 'Titillium Web', sans-serif !important;


}
.navbar{
  border-radius: 0px !important;
  border: none;
  background-color: $dark;
  padding-top: 10px;
  color: #fff  !important;
  padding-bottom: 10px;

}
.nav.navbar.navbar-inverse li {
  color: #fff;
}
.no-style{
  text-decoration: none !important;
  cursor: auto;
}
.progress {
  @include progress-bar-variant(#6666ff);
}
.btn-block{
  margin: 10px;
}

.panel{
  border-radius: 0px !important;
  border: none;
  .panel-heading{
    background-color: $dark;
    border-radius: 0px !important;
    box-shadow: none;
  }
  .panel-body{

    border-radius: 0px !important;
    border: none;
    box-shadow: none;
    text-align: center;
    text-wrap: normal;

    margin: 0px;
  }
  .panel-footer{

    border-radius: 0px !important;
    box-shadow: none;
    margin: 0px;
  }
}
.btn{
  border-radius: 0px !important;
  background-color: $few;
  border: none;
  color: #222;
}