/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


$back: #2d2838;
$few: #802bb1;
$dark: #4c495d;
$light:#564f6f;
$text:#d1d7e0;
body{
  font-family: 'Titillium Web', sans-serif !important;
  background: url("bac.jpg");
  background-attachment: fixed;


  color: $text;

}
.navbar{
  border-radius: 0px !important;
  border: none;
  background-color: $dark;
  padding-top: 10px;
  color: $light  !important;
  font-size: larger;
  padding-bottom: 10px;

}
li{
  color: $light  !important;
}
.nav.navbar.navbar-inverse li {
  color: #fff;
}
.no-style{
  text-decoration: none !important;
  color: whitesmoke;
  cursor: auto;
}
.btn-block{
  margin: 10px;
}


h1,h2,h3,h4,h5{

  font-size: 34px;
  font-weight: bolder;

}

.panel{
  border-radius: 0px !important;
  border: none;
  .panel-heading{
    background-color: $dark;
    border-radius: 0px !important;
    box-shadow: none;
    border: none;
  }
  .panel-body{

    border-radius: 0px !important;
    border: none;
    background-color: $light;
    box-shadow: none;
    overflow-y: auto;
    height: 100vm;
    text-align: justify;
    text-wrap: normal;

    margin: 0px;
  }
  .panel-footer{

    border-radius: 0px !important;
    background-color: $light;
    box-shadow: none;
    margin: 0px;
    border: none;
  }
}
.btn{
  border-radius: 0px !important;
  background-color: $few;
  padding: 10px;
  border: none;
  color: $text !important;

}
.modal-header,.modal-body,.modal-footer{
  background-color: $light;
}
.form-control{
  background-color: $back;
  border: none !important;
  color: whitesmoke;
}

th{
  font-size: 20px;
  border: none;
}


td{
  font-size: large;
  border: none !important;
}